<launch>
	<include file="$(find freenect_launch)/launch/freenect.launch"/>
	<include file="$(find ar_track_alvar)/launch/pr2_indiv.launch"/>
	<node pkg="tf" type="static_transform_publisher" name="camera2robot_broadcaster" args="0.2355 0.0 0.015 0 0 0 1 robot_locked robot 10" />
	<!-- send a static transform from robot_locked to robot frame -->
	<node name="camera2robot_transform" pkg="dmp_praktikum" type="camera2robot_transform" args="" respawn="true" />
</launch>
